.detail {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    position: absolute;
    width: 80vh;
    height: auto;
    margin: 30px;
}

.detail .detail-box {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.detail .detail-box .detail-content {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: #fff;
    position: absolute;
    padding: 20px;
    text-align: center
}

.detail .detail-box .detail-content h3 {
    font-size: 1.8em;
    color: #777;
    z-index: 1;
    transition: 0.5s;
}

.detail .detail-box .detail-content p {
    font-size: 1em;
    font-weight: 300;
    color: #777;
    z-index: 1;
    transition: 0.5s;
}

/* .detail:hover .detail-box .detail-content h3,
.detail:hover .detail-box .detail-content p
{
    color: #fff;
} */

.detail .detail-box .detail-content .detail-link a {
    position: relative;
    text-decoration: none;
    background: #ff4584;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    letter-spacing: 1px;
    border-radius: 30px;
}

.detail .detail-box .detail-content .detail-link,.return-btn {
    margin-top: 20px;
}

.detail .detail-box .detail-content .detail-link a:hover,.return-btn {
    background: #f53677;
}