* {
    margin: 0;
    padding: 0;
}

html {
    /* メインの部分の透過具合 */
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../image/bg-main.jpg); */
    background-attachment: fixed;
}

header {
    position: fixed;
    width: 100%;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    z-index: 11;
}
.ball {
    position: absolute;
    border-radius: 100%;
    opacity: 0.7;
  }
.banner {
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-size: cover;
    background-position: center;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    letter-spacing: 0.3em;
}

.logo {
    width: 20%;
    height: 20%;
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 5px;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #0f0;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.content h1 {
    font-size: 70px;
    margin-top: 80px;
}

.content p {
    margin: 20px auto;
    font-weight: 100;
    letter-spacing: 0.5em;
    line-height: 25px;
    text-overflow: ellipsis;
}

/* 検索フォーム */

.search_container {
    position: relative;
    box-sizing: border-box;
    display: block;
    padding: 3px 10px;
    border-radius: 20px;
    height: 2.2em;
    width: 250px;
    overflow: hidden;
}

.search_container input[type="text"] {
    background: transparent;
    border: 2px solid #39dfce;
    width: 15em;
    border-radius: 25px;
    height: 2.0em;
    padding-left: 10px;
}

.search_container input[type="text"]:focus {
    outline: 0;
    background: transparent;
    color: #fff;
}

.search_container input[type="submit"] {
    cursor: pointer;
    font-family: FontAwesome;
    font-size: 1.3em;
    border: none;
    background: none;
    color: #fff;
    position: absolute;
    height: 2.5em;
    right: 4px;
    top: -10px;
    outline: none;
}

.search_container ::-webkit-input-placeholder {
    color: #fff;
}

/* ボックス */

.box1, .box2, .log-box, .new-box, .log-box1, .new-box2 {
    display: none;
}

.maincontent {
    text-align: center;
}

.btn-box {
    display: flex;
    justify-content: center;
    align-items: center;
}