* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
h1
{
    padding-bottom: 10px;
}
nav {
    background: #0082e6;
    height: 80px;
    width: 100%;
}

label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active, a:hover {
    background: #1b9bff;
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
}

#check {
    display: none;
}

@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3350;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    a:hover, a.active {
        background: none;
        color: #0082e6;
    }
    #check:checked~ul {
        left: 0;
    }
}

section {
    /* background: url(bg2.jpg) no-repeat; */
    background-size: cover;
    height: calc(100vh - 80px);
}

/* ここからメイン */

.iine-box, .idea-box, .set-box, .out-box {
    color: white;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    padding: 40px;
    background: rgba(0, 0, 0, .8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
    border-radius: 10px;
}

.mypage-main a
{
    text-decoration: none;
    background: #22777a;
    color: rgb(255, 255, 255);
    outline: none;
    border: none;
    /* font-weight: 500; */
    cursor: pointer;
    width: 100%;
    padding: 5px 5px;
    font-size: 12px;
    letter-spacing: 1px;
    border-radius: 30px;
    line-height: 4em;
}
.mypage-main a:hover
{
    background: #28b1a3;
}

/* ここからボタン */
button {
    width: 80px;
    padding: 10px 0;
    text-align: center;
    margin: 10px 10px;
    border-radius: 25px;
    font-size: 1em;
    font-weight: bold;
    border: 2px solid #39dfce;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    letter-spacing: 0.3em;
    white-space: normal;
}
button:hover {
    color: rgb(211, 205, 205) 205, 205;
    background: #0a8074;
    transition: 0.5s;
    border: none;
}